{{> head }}


{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>
            Node JS
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam voluptate iste numquam, velit et
            dignissimos recusandae enim labore architecto commodi dolor porro obcaecati deserunt ipsa delectus eaque
            fuga. Repudiandae, ex!
        </p>

    </div>

    <div class="col-4">
        <img src="/assets/img/node-js.png" class="img-thumbnail">
    </div>

</div>


{{> footer}}